/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #151515;
  color: #f93a3a;
  text-align: center;
  padding: 20px 0;
}

nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

#mobile-btn {
  display: none; /* hidden by default, visible in mobile view */
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
}

#navi-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Align items vertically */
  height: 40px; /* Set a fixed height */
}

#navi-list li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

#navi-list li a:hover {
  background-color: #575757;
}

.intro, .portfolio-highlight {
  text-align: center;
}

.intro-text, .card-content {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 10px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

.card-stack {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  flex-basis: 30%;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  #mobile-btn {
    display: block;
  }

  #navi-list {
    flex-direction: column;
    display: none;
  }

  #navi-list.active {
    display: flex;
  }
}
.responsive-video {
  width: 100%;   /* Adjusts to the width of its container */
  height: 500px; /* Fixed height, but you can make it responsive too */
}
